body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 14px;
    line-height:;
}
.header {
    
}
.header-navigation {
    color: #2E2F42;
}
.header-list {
}
.header-item {
}
.header-link {
    color:#2E2F42;
}
.header-link:hover {
    color:#404BBF;
}

.sty_btn{
    background-color:#4D5AE5;
}
.sty_btn:hover{
background-color:#404BBF;
}
.sty_btn:focus{

}
.header-mail {
    color: #434455;
}
.header-mail:hover{
    color:#404BBF;
}
.header-mail:focus{

}
.header-tel {
    
}
.main_fon{
    color:#2E2F42;
}
.link {
    text-decoration: none;
}
.list{
    list-style: none;
}
.works{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
}
h1{
    color:#FFFFFF;
}
.footer_logo {
    color:#4D5AE5;
}
    
.fot_stud {
    color: #F4F4FD;
}
.footer_text {

}
.footer{
        /*position: absolute;
        width: 1440px;
        height: 310px;
        left: 0px;
        top: 2280px;
       */
        background-color: #2E2F42;
}
/*
.footer_text
{
    position: absolute;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2418px;
}
*/