body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    font-weight: 400;
}

.link {
    text-decoration: none;
}

.header-link {
    font-size: 16px;
    color: #2E2F42;
}

.header-link:hover {
    color: #404BBF;
}

.header-link:focus {
    color: #404BBF;
}

.header-mail {
    color: #434455;
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
    
    font-size: 16px;
    line-height: 24px;
}

.header-mail:hover {
    color: #404BBF;
}

.header-mail:focus {
    color: #404BBF;
}

.header-tel {
    color: #434455;
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.header-item{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
}
span {
    color: #4D5AE5;
}

.header-logo {
    color: #2E2F42;
    font-family:'Releway',sans-serif ;
    font-weight:800 ;
    font-size: 18px;
    line-height: 24px;

}

.list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
}

.text {
    text-align: center;
}

.sty_btn {
    display: flex;
    justify-content: center;
}

.col_btn {
    background-color: #4D5AE5;
}

.col_btn:hover {
    background-color: #404BBF;
}

.btn1 {
    background: #4D5AE5;
}

.btn1:hover {
    background: #404BBF;
}

.btn1:focus {
    background: #404BBF;
}

.features {
    opacity: 0;
}

.works {
    text-align: center;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.features_list {
    list-style: none;
    display: flex;
}

.works-list {
    list-style: none;
    display: flex;
}

.teams {
    text-align: center;
}

.teams-list {
    list-style: none;
    display: flex;
}

.teams_people1 {
    margin-right: 30px;
    margin-left: 24px;
}

.teams_people2 {
    margin-right: 30px;
    margin-left: 24px;
}

.teams_people3 {
    margin-right: 30px;
    margin-left: 24px;
}

.works-list1 {
    margin-right: 30px;
    margin-left: 24px;
}

.works-list2 {
    margin-right: 30px;
    margin-left: 24px;
}

.works {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.works_list {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
}

.footer {
    /*position: absolute;
        width: 1440px;
        height: 310px;
        left: 0px;
        top: 2280px;
       */
    background-color: #2E2F42;
}


.footer_text{font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;}